.editor {
  padding: 10px;
  min-width: 400px;
  text-align: center;
  /* border: 0 solid var(--border-color); */
  background-color: var(--bg-color);
  max-width: 30vw;
  /* border-radius: 20px; */
}

.editor * {
  margin: 1px 10px;
}

.editor fieldset {
  padding: 10px 0;
  margin: 1rem 0;
  display: flex;
  color: white;
  flex-direction: column;
  background-color: var(--fs-bg-color);
  border: 0 solid var(--border-color);
  border-radius: var(--border-radius);
  gap: 4px;
}

.editor fieldset legend {
  font-weight: bold;
  font-size: 1.2rem;
}

.editor fieldset label {
  text-align: left;
}

.editor input {
  background-color: var(--input-bg-color);
  border: 0 solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
}

.editor-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  background-color: var(--input-bg-color);
  border: 0 solid var(--border-color);
  border-radius: var(--border-radius);
}

.editor-link button {
  margin: 0;
}

.editor-new-link {
  display: flex;
  justify-content: space-between;
  background-color: var(--input-bg-color);
  border-radius: var(--border-radius);
}

.editor-new-link > * {
  margin: 0;
}

.editor-new-link input {
  flex: 1;
}

.editor-new-link input:focus {
  outline: none;
}

div[class^="active-"] {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--input-bg-color);
  border: 0 solid var(--border-color);
  border-radius: var(--border-radius);
}

div[class^="active-"] > :is(input, textarea, select) {
  padding: 5px;
  background-color: var(--fs-bg-color);
  border: 0 solid var(--border-color);
  border-radius: var(--border-radius);
}

div[class^="inactive-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--input-bg-color);
  border: 0 solid var(--border-color);
  min-height: 35px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

div[class^="inactive-"]:hover {
  cursor: pointer;
  background-color: hsl(from var(--hover-color) h s 35%);
}
