.editor {
  margin: 1rem;
  padding: 10px;
  min-width: 400px;
  text-align: center;
  border: 3px solid rgb(80, 90, 90);
  background-color: rgb(255, 255, 255);
  max-width: 30vw;
  border-radius: 20px;
}

.editor * {
  margin: 1px 10px;
}

.editor fieldset {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}

.editor fieldset legend {
  font-weight: bold;
  font-size: 1.2rem;
}

.editor fieldset label {
  text-align: left;
}

.editor-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-link button {
  margin: 0;
}

.editor-new-link,
.editor-new-link input {
  margin: 0;
}

.active-edu,
.active-exp {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}

.inactive-edu,
.inactive-exp {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

.inactive-edu:hover,
.inactive-exp:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}
