.preview {
  flex: 1;
  text-align: center;
  color: black;
  background-color: white;
  margin: 1rem;

  aspect-ratio: 210 / 297;
  /* scale to either real-world 210 mm or 80% of viewport width, whichever is smaller */
  width: min(210mm, 80vw);

  background: white;
  padding: 20mm; /* physical-unit padding for print / reference */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: hidden;
}

.preview-header {
  display: flex;
  justify-content: space-between;
}

.preview > div {
  flex: 1;
  display: flex;
  justify-content: column;
}

.preview ul {
  list-style-type: none;
}
